<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="getLanguage() === 'false'" class="container">
    <div class="container py-5">
      <header class="text-center text-white py-5">
        <div>
          <h3 class="display-4 font-weight-bold mb-4 strokeme">Programari</h3>
        </div>
      </header>

      <div class="text-white">
        <fieldset>
          <label for="date">Data Programare:</label><input type="text" id="date" size="20">
        </fieldset>
      </div>
      <label>Programari:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of programariClient" (click)="DeleteAppointment(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.doctor_name}}</td>
            <td>{{el.date}}</td>
          </tr>
        </tbody>
      </table>
      <br/><br/><br/>
      <label>Doctori:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of doctorsHeadElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of doctors" (click)="CreateAppointment(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!--ENGLEZA-->
  <div *ngIf="getLanguage() === 'true'" class="container">
    <div class="container py-5">
      <header class="text-center text-white py-5">
        <div>
          <h3 class="display-4 font-weight-bold mb-4 strokeme">Appointments</h3>
        </div>
      </header>
      <div class="text-white">
        <fieldset>
          <label for="date_en">Appointment Date:</label><input type="text" id="date_en" size="20">
        </fieldset>
      </div>
      <label>Programari:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of programariClient" (click)="DeleteAppointment(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.doctor_name}}</td>
            <td>{{el.date}}</td>
          </tr>
        </tbody>
      </table>
      <br/><br/><br/>
      <label>Doctori:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of doctorsHeadElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of doctors" (click)="CreateAppointmentEngleza(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
