

.button{
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
}

.button{
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 rgb(17, 32, 203), 1px -1px 0 rgb(17, 32, 203), -1px 1px 0 rgb(17, 32, 203), 1px 1px 0 rgb(17, 32, 203);
}
