*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.nav-section{
  font-family:Georgia, serif;
}

.nav-content {
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}
.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}

.header-title{
  color:white;
  -webkit-text-stroke: 1px white;
  font-size: 60px;
}

#intro-info{
  color:black;
  font-size:xx-large;
}

.language-selector img{
  width: 30px;
  height: 35px;
}

.menu-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
