*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.team-section{
  overflow: hidden;
  text-align: center;
  /* background-image: url("../assets/echipa/background.jpg"); */
  /* padding: 40px;
  padding-left: 50px; */
  /* font-family:Georgia, serif; */

}

.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color:#38689D;
  font-size: 40px;
}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #38689D;
  margin-bottom:40px;
}

.ps{
  margin-bottom: 40px;
}
.ps a{
  display: inline-block;
  margin: 0 10px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover > img{
  filter:none;
}

.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: #38689D;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.section:target{
  height:auto;

}
.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
