<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="getLanguage() === 'false'" class="container">
    <div class="container py-5">
      <header class="text-center text-white py-5">
        <div>
          <h3 class="display-4 font-weight-bold mb-4 strokeme">Profil</h3>
          <div>
            <div>
              <label>Id Client:</label><label>{{user.client_id}}</label><br/>
              <label>Nume:</label><label>{{user.name}}</label><br/>
              <label>Email:</label><label>{{user.email}}</label><br/>
              <label>Parola:</label><label>{{user.password}}</label>
            </div>
          </div>
        </div>
      </header>

      <div class="text-white">
        <fieldset>
          <label for="serviciu_id">Id Serviciu:</label><input type="text" id="serviciu_id" size="20">
          <label for="name">Nume:</label><input type="text" id="name" size="20">
          <label for="email">Email:</label><input type="text" id="email" size="20">
          <label for="password">Parola:</label><input type="text" id="password" size="20">
        </fieldset>
      </div>
      <button style="top:60%;left:70%" class="button" (click)="UpdatePersonalInformation()">Actualizare Info</button>
      &nbsp;&nbsp;&nbsp;
      <button style="top:70%;left:70%" class="button" (click)="StergeServiciu()">Elimina serviciu</button>
      &nbsp;&nbsp;&nbsp;
      <!-- <button style="top:60%;left:20%" class="button" (click)="IncarcareGDPR()">Incarcare GDPR</button> -->
      <input style="top:60%;left:10%" class="button" type="file" (change)="uploadFile($event)">
      &nbsp;&nbsp;&nbsp;
      <label>Servicii vizate:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of serviciiClienti">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
            <td>{{el.price}}</td>
          </tr>
        </tbody>
      </table>
      <br/><br/><br/>
      <label>Toate serviciile oferite:</label>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of dbServices" (click)="AdaugaServiciu(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
            <td>{{el.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!--ENGLEZA-->
  <div *ngIf="getLanguage() === 'true'" class="container">
    <div class="container py-5">
      <header class="text-center text-white py-5">
        <div>
          <h3 class="display-4 font-weight-bold mb-4 strokeme">Profile</h3>
          <div>
            <div>
              <label>Id Client:</label><label>{{user.client_id}}</label><br/>
              <label>Name:</label><label>{{user.name}}</label><br/>
              <label>Email:</label><label>{{user.email}}</label><br/>
              <label>Password:</label><label>{{user.password}}</label>
            </div>
          </div>
        </div>

      </header>

      <div class="text-white">
        <fieldset>
          <label for="serviciu_id_en">Service Id:</label><input type="text" id="serviciu_id_en" size="20">
          <label for="name_en">Name:</label><input type="text" id="name_en" size="20">
          <label for="email_en">Email:</label><input type="text" id="email_en" size="20">
          <label for="password_en">Password:</label><input type="text" id="password_en" size="20">
        </fieldset>

      </div>
      <button style="top:60%;left:70%" class="button" (click)="UpdatePersonalInformationEngleza()">Update Info</button>
      &nbsp;&nbsp;&nbsp;
      <button style="top:70%;left:70%" class="button" (click)="StergeServiciuEngleza()">Remove service</button>
      &nbsp;&nbsp;&nbsp;
      <!-- <button style="top:60%;left:20%" class="button" (click)="IncarcareGDPR()">Load GDPR consent</button> -->
      <input style="top:60%;left:10%" class="button" type="file" (change)="uploadFile($event)">
      &nbsp;&nbsp;&nbsp;
      <label>Servicii vizate:</label><br/>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of serviciiClienti">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
            <td>{{el.price}}</td>
          </tr>
        </tbody>
      </table>
      <br/><br/><br/>
      <label>Toate serviciile oferite:</label>
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th *ngFor="let x of headElements"> {{x}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdTableCol *ngFor="let el of dbServices" (click)="AdaugaServiciu(el)">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
            <td>{{el.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
